.ios {
  --ion-background-color: rgb(221, 216, 151);
}

.md {
  --ion-background-color: rgb(221, 216, 151);
}

.md {
  --ion-background-color: rgb(221, 216, 151);
}

#posicionamento {
  padding-top: 10%;
  padding-left: 10%;
  
}

#lixeira {
  padding-right: 0px;

}

#dinheiro {
  color: green;
  padding-left: 0px;
  padding-top: 10px;
  
}
