.ios {
  --ion-background-color: rgb(221, 216, 151);
}

.md {
  --ion-background-color: rgb(221, 216, 151);
}

#posicionamento {
  padding-top: 10%;
  padding-left: 10%;

}

#lista {
  padding-left: 10px;
  //overflow-y:   
}

#lixeira {
  padding-right: 0px;

}

#dinheiro {
  color: green;
  padding-left: 0px;
  padding-top: 10px;

}

#total {
 position: absolute;
 z-index: 9999;
 color: rgb(43, 87, 235);
 bottom: 0%;
 right: 10%;
}