<ion-content [fullscreen]="true">
  <div>
    <ion-grid>
      <ion-row id="posicionamento">
        <ion-col>
          <ion-item>
            <ion-input id="prod" placeholder="Produto" [(ngModel)]="texto" (keyup.enter)="adiciona()"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input id="prec" placeholder="Preço" type="number" [(ngModel)]="preco" (keyup.enter)="adiciona()">
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3" style="padding-top:0px;">
          <ion-button color="primary" size="small" style="height: 100px; width: 60px;" (click)="adiciona()">
            <ion-icon name="cart-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row id="lista">
        <ion-col>
          <ion-item *ngFor="let elemento_da_lista of variavel_lista">
            <ion-grid>
              <ion-row>
                <ion-col size="10" class="ion-text-capitalize">
                  <ion-icon name="bag-outline"></ion-icon> {{elemento_da_lista[1][0]}}
                </ion-col>
                <ion-col>
                  <ion-icon id="dinheiro" name="cash-outline"></ion-icon> R${{elemento_da_lista[1][1]}}
                </ion-col>
                <ion-col>
                  <ion-button color="danger" size="small" style="width: 50px; height: 30px;"
                    (click)="remove(elemento_da_lista[0])">
                    <ion-icon style="width: 50px; height: 30px;" name="trash-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-col>
      </ion-row>
      <iont-toolbar id="total">
        <ion-title>Total:R$1300,00</ion-title>
      </iont-toolbar>
    </ion-grid>

  </div>
</ion-content>